* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    line-height: 1.6;
}
body {
    padding-top: 70px;
}
.navbar {
    background-image: linear-gradient(#00bfff,#99e5ff);
    padding: 1rem 0;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}
.navbar .logo {
    text-decoration: none;
    font-size: 1rem;
}
.navbar .logo img {
    height: 50px;
    width: 50px;
}
.logo img {
    height: 50px;
    width: 50px;
}
h2 {
    margin: auto;
    font-family:Georgia, 'Times New Roman', Times, serif ;
}